# Kickstart for eagle-i
cmdline

# required settings
lang en_US.UTF-8
keyboard --xlayouts='us'
timezone Etc/UTC --utc --ntpservers=dmz-ntp.ornl.gov,dmz-ntp-alt.ornl.gov
# GIST initial password
rootpw --iscrypted $6$fjfExo/u9rTm4mbX$SxX9L/3EO94RdfsgYvKZVQqZqnsnMiVQdMp0jEfEBJrLU5UEXEkoCBseKgRRDuFuISiKCUYrjWuQ6vM64e2Wb0


# erase any existing partitions on local drives
#ignoredisk --only-use={{disk_path_ata}},nvme0n1,nvme1n1,nvme2n1,nvme3n1,nvme4n1
ignoredisk --only-use=disk/by-path/pci-0000:01:00.0-nvme-1,nvme0n1,nvme1n1,nvme2n1
#clearpart --drives=disk/by-path/pci-0000:18:00.0-sas-phy6-lun-0,{{disk_path_ata}},nvme0n1,nvme1n1,nvme2n1,nvme3n1,nvme4n1 --all
clearpart --drives=disk/by-path/pci-0000:01:00.0-nvme-1,disk/by-path/pci-0000:ca:00.0-nvme-1,disk/by-path/pci-0000:cb:00.0-nvme-1 --all
reqpart
#part /boot --ondisk={{disk_path_ata}} --size=1024 --fstype=xfs
part /boot --ondisk=disk/by-path/pci-0000:01:00.0-nvme-1 --size=1024 --fstype=xfs
part /boot/efi --ondisk=disk/by-path/pci-0000:01:00.0-nvme-1
#part pv.1 --ondisk={{disk_path_ata}} --grow --encrypted --passphrase=INSECURE-default-CHANGEME
part pv.1 --ondisk=disk/by-path/pci-0000:01:00.0-nvme-1 --grow --encrypted --passphrase=INSECURE-default-CHANGEME

# Create partition for software raid for stand-a-lone nvme's:
part raid.nvmeA --ondisk=disk/by-path/pci-0000:ca:00.0-nvme-1 --grow
part raid.nvmeB --ondisk=disk/by-path/pci-0000:cb:00.0-nvme-1 --grow
raid pv.2 --device md0 --level=RAID1 raid.nvmeA raid.nvmeB

volgroup systemvg pv.1
logvol / --vgname=systemvg --name=root --size=51200
logvol /home --vgname=systemvg --name=home --size=30720
logvol /var --vgname=systemvg --name=var --size=22528
logvol /var/tmp --vgname=systemvg --name=var_tmp --size=10240
logvol /var/log/audit --vgname=systemvg --name=var_log_audit --size=512


#part pv.2 --ondisk=nvme0n1 --grow --encrypted --passphrase=INSECURE-default-CHANGEME
#volgroup datavg pv.2
#logvol /var/lib/rancher/rke2/agent/containerd --vgname=datavg --name=containerd --size=102400
#logvol /var/lib/rook --vgname=datavg --name=var_lib_rook --size=20480

# Create volume group and LVM from RAID-1 device created above:
volgroup datavg pv.2
logvol /var/lib/rancher --vgname=datavg --name=rancher --size=204800
#logvol /var/lib/rook --vgname=datavg --name=var_lib_rook --size=20480

# MBR actually means ESP here
bootloader --location mbr

# We create both bonds here, but we don't activate both, since the rules we need can't be expressed here
#network --device=bond0 --bondslaves=eno3,eno4 --bondopts=mode=802.3ad,downdelay=0,miimon=1,updelay=0 --noipv4 --noipv6 --no-activate --onboot=yes
#network --device=bond1 --bondslaves=eno1,eno2 --bondopts=mode=802.3ad,downdelay=0,miimon=1,updelay=0 --noipv4 --noipv6 --no-activate --onboot=yes

# These generate broken network setups, so we create them in %post
# network --device=bond0 --vlanid=2052 --interfacename=bond0.2052 --no-activate --onboot=yes --noipv6 --ip={{network['internal']['ip']}} --netmask={{network['internal']['netmask']}} --gateway={{network['internal']['gateway']}} --nameserver=10.149.2.36,10.149.2.37
# network --device=bond1 --vlanid=2042 --interfacename=bond1.2042 --no-activate --onboot=yes --noipv6 --ip={{network['external']['ip']}} --netmask={{network['external']['netmask']}} --gateway={{network['external']['gateway']}} --nameserver=10.149.2.36,10.149.2.37

#syspurpose --role="Red Hat Enterprise Linux Server" --sla="Standard" --usage="Production"
#url --url=https://rhn6.ornl.gov/pulp/content/Oak_Ridge_National_Lab/Library/content/dist/rhel9/9.3/x86_64/baseos/kickstart
#repo --name=AppStream --baseurl=https://rhn6.ornl.gov/pulp/content/Oak_Ridge_National_Lab/Library/content/dist/rhel9/9.3/x86_64/appstream/kickstart

%packages
@^minimal-environment
clevis
clevis-dracut
clevis-luks
clevis-systemd
tpm2-tools
%end
skipx

# Known rancher bug
firewall --disabled

%post --log=/root/ks-post.log --interpreter=/usr/bin/bash --erroronfail
set -xe -o pipefail

cat >> /etc/iproute2/rt_tables <<END
100 ornl.int
200 ornl.ext
END

# Copied from install environment
#nmcli c delete bond0.2052

# network statements above use 'ignore' which still does link-local
#nmcli c modify "Bond connection bond0" ipv6.method disabled
#nmcli c modify "Bond connection bond1" ipv6.method disabled

#nmcli c add \
#        con-name "VLAN Connection bond0.2052" \
#        autoconnect yes \
#        save yes \
#	type vlan \
#	ifname bond0.2052 \
#	dev bond0 \
#	id 2052 \
#	ip4 "{{network['internal']['ip']}}/{{network['internal']['netmask']}}" \
#	gw4 "{{network['internal']['gateway']}}" \
#	ipv4.dns 10.149.2.36,10.149.2.37 \
#	ipv4.dns-search ornl.gov,dmz.ornl.gov \
#        ipv4.route-table 100 \
#        ipv4.routing-rules "priority 10001 from {{network['internal']['ip']}} table 100, priority 12001 to 10.231.92.0/24 table 100, priority 20001 from 0.0.0.0/0 table 100, priority 2002 to 10.42.0.0/16 table 254"

#nmcli c add \
#        con-name "VLAN Connection bond1.2042" \
#        autoconnect yes \
#        save yes \
#	type vlan \
#	ifname bond1.2042 \
#	dev bond1 \
#	id 2042 \
#	ip4 "{{network['external']['ip']}}/{{network['external']['netmask']}}" \
#	gw4 "{{network['external']['gateway']}}" \
#	ipv4.dns 10.149.2.36,10.149.2.37 \
#	ipv4.dns-search ornl.gov,dmz.ornl.gov \
#        ipv4.route-table 200 \
#        ipv4.routing-rules "priority 10000 from {{network['external']['ip']}} table 200, priority 12000 to 160.91.92.0/24 table 200, priority 20000 from 0.0.0.0/0 table 200"

# Setup crypttab for data drive
#DATADRIVE_LUKS_UUID=$(blkid /dev/nvme0n1p1 -o value -s UUID)
#install -m 600 /dev/null /etc/datadrive.key
#openssl rand -base64 48 > /etc/datadrive.key
#cryptsetup luksChangeKey /dev/nvme0n1p1 /etc/datadrive.key --key-file <(echo -n "INSECURE-default-CHANGEME")
#sed -ri "s#(luks-$DATADRIVE_LUKS_UUID UUID=$DATADRIVE_LUKS_UUID) none#\\1 /etc/datadrive.key#" /etc/crypttab

# Setup clevis with PCR checking off on boot drive
ROOT_LUKS_DEVICE=$(pvs | grep systemvg | cut -f3 -d' ')
ROOT_BACK_DEVICE=$(cryptsetup status $ROOT_LUKS_DEVICE | grep device | cut -f2 -d: | xargs)
clevis luks bind -d $ROOT_BACK_DEVICE -k - <<<"INSECURE-default-CHANGEME" tpm2 '{"hash": "sha256", "key": "ecc"}'

# Clean up extra boot entries
ESP_DEVICE=$(grep /boot/efi /proc/mounts | cut -f1 -d' ')
ESP_UUID=$(blkid "${ESP_DEVICE}" -s PARTUUID -o value)
BOOT_OPTION=$(efibootmgr -v | grep "${ESP_UUID}" | cut -c 5-8)
for bootopt in $(efibootmgr -v | grep -E '^Boot[0-9]{4}' | grep 'HD('| cut -c 5-8); do
  if [[ $bootopt != $BOOT_OPTION ]]; then
    efibootmgr --delete-bootnum --bootnum $bootopt
  fi
done
efibootmgr --bootorder $BOOT_OPTION

%end

%post --nochroot --log=/mnt/sysimage/root/ks-post2.log --interpreter=/usr/bin/bash --erroronfail
set -xe -o pipefail

umask 022

rm /mnt/sysimage/etc/sysconfig/network-scripts/ifcfg-* -f
#cp /etc/sysconfig/network-scripts/ifcfg-* /mnt/sysimage/etc/sysconfig/network-scripts/

%end

shutdown
